.fs-download {
    flex: 1;
    background: var(--fs-light);
    padding: var(--fs-spacing-6x) var(--fs-spacing-2x);
}

.fs-download__title {
    text-align: center;
}

.fs-download__title p {
    margin-top: var(--fs-spacing-2x);
}

.fs-download__details,
.fs-download__files {
    margin-top: var(--fs-spacing-3x);
}

.fs-download__info {
    display: flex;
    flex-direction: row;
}

.fs-download__info + .fs-download__info {
    margin-top: var(--fs-spacing-2x);
}

p {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

h2 + .fs-download__info,
h2 + p {
    margin-top: var(--fs-spacing-4x);
}

.fs-download__info strong,
.fs-download__info span {
    display: inline-block;
    word-break: break-word;
}

.fs-download__info strong {
    min-width: var(--fs-spacing-20x);
}

.fs-download__check-all {
    padding-left: calc(var(--fs-spacing-3x) + 1px);
    margin-top: var(--fs-spacing-6x);
}

.fs_download__total-size {
    display: none;
    text-align: right;
}

.fs_download__total-size--show {
    display: block;
}

.fs_download__total-size strong,
.fs_download__total-size span {
    display: inline-block;
}

.fs_download__total-size strong {
    margin-right: var(--fs-spacing-4x);
}

.fs_download__total-size span {
    margin-right: 94px;
}

.fs_download__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: var(--fs-spacing-4x) !important;
}

.fs_download__actions--hide {
    display: none;
}

.fs_download__actions button + button {
    margin-left: var(--fs-spacing-2x);
}

.fs_download__zip64-info {
    margin-top: var(--fs-spacing-4x);
    padding: 0 20%;
}

.fs_download__zip64-info--hide {
    display: none;
}

.fs-transfer__list {
    margin-bottom: var(--fs-spacing-2x) !important;
}

/* XS */
@media (max-width: 575px) {

    .fs-download {
        font-size: 0.8rem;
        flex: 1;
        background: var(--fs-light);
    }
}

/* XS,SM,MD */
@media (max-width: 991px) {

    .fs_download__actions {
        display: flex;
        flex-direction: column;
    }

    .fs_download__actions button {
        width: 100%;
    }

    .fs_download__actions button + button {
        margin-top: var(--fs-spacing-2x);
        margin-left: 0;
    }
}
