.fs-settings {
    flex: 1;
    background: var(--fs-settings-background);
    padding: var(--fs-spacing-11x) var(--fs-spacing-2x);
    justify-content: flex-start;
}

.fs-settings__header h1 {
    text-align: left !important;
    margin-left: 0;
}

.fs-settings__preferences,
.fs-settings__account-info {
    margin-top: var(--fs-spacing-4x);
}

.fs-settings__admin,
.fs-settings__actions,
.fs-settings__about,
.fs-settings__privacy,
.fs-settings__remote-authentication  {
    margin-top: var(--fs-spacing-8x);
}

.fs-settings__actions h4 {
    margin-bottom: var(--fs-spacing-4x);
}

.fs-settings__preferences .fs-select label,
.fs-settings__preferences .fs-switch label{
    min-width: var(--fs-spacing-7x);
}

.fs-settings__preferences .fs-switch label {
    padding-left: var(--fs-spacing-10x) !important;
}

.fs-settings__preferences .fs-button {
    width: 100%;
    margin-top: var(--fs-spacing-3x);
}

.fs-settings__account-info {
    display: flex;
    flex-direction: column;
    border-radius: var(--fs-spacing-4x);
}

.fs-settings__preferences,
.fs-settings__saved-info,
.fs-settings__general,
.fs-settings__api-secret,
.fs-settings__privacy,
.fs-settings__about {
    padding-right: var(--fs-spacing-2x);
}

.fs-settings__account-info,
.fs-settings__logs,
.fs-settings__cli {
    padding-left: var(--fs-spacing-2x);
}

.fs-settings__preferences h4,
.fs-settings__account-info h4 {
    margin-bottom: var(--fs-spacing-3x);
}

.fs-settings__account-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.fs-settings__account-actions .fs-button {
    margin-top: var(--fs-spacing-4x);
}

.fs-settings__account-actions .fs-button + * {
    margin-left: var(--fs-spacing-2x);
}

.fs-settings h2,
.fs-settings h3 {
    margin-bottom: var(--fs-spacing-3x);
}

.fs-settings__general {
    margin-top: var(--fs-spacing-5x);
}

.fs-settings__general .fs-button {
    margin-bottom: var(--fs-spacing-3x);
}

.fs-settings__api-secret,
.fs-settings__cli {
    margin-top: var(--fs-spacing-5x);
}

.fs-settings__api-secret > p,
.fs-settings__api-secret .fs-copy {
    margin-bottom: var(--fs-spacing-3x);
}

.fs-settings__cli .fs-list {
    margin-top: var(--fs-spacing-3x);
}

.fs-settings__preferences select {
    width: 200px;
}

.fs-settings__saved-info button{
    min-width: 260px;
}

.fs-settings__saved-info strong,
.fs-settings__logs strong,
.fs-settings__general strong {
    display: block;
    margin-bottom: var(--fs-spacing-2x);
}

.fs-settings__logs button {
    min-width: 180px;
}

.fs-settings__api-secret button {
    min-width: 200px;
}

/* XS */
@media (max-width: 575px) {

    .fs-settings {
        flex: 1;
    }
}

/* XS,SM,MD */
@media (max-width: 991px) {

    .fs-settings__logs {
        margin-top: var(--fs-spacing-5x);
    }

    .fs-settings__account-actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .fs-settings__account-actions .fs-button + * {
        margin-left: 0;
    }

    .fs-settings__account-actions .fs-button,
    .fs-settings__account-actions form {
        width: 100%;
    }

}
