.fs-statistics {
    flex: 1;
    background: var(--fs-bg-color);
    padding: var(--fs-spacing-6x) var(--fs-spacing-2x);
}

.fs-istatistics__title {
    text-align: center;
}

i.fa {
    color: var(--fs-accent);
    cursor: pointer;
}

i.fa-inverse {
    color: #fff;
}

.table-nav {
    text-align: center;
}
