/tmp
/files
/config/config.php
/config/templates
/config/language
/docs/_book
/docs/_site
/log
/www/doc
/www/skin
/vendor/
/testmails
/git-switch-to-current-latest-master.sh
/push.sh
/sync.sh
composer.phar
bak/
git-switch-to-current-latest-development.sh
import-all-poeditor-langs-and-push.sh
scripts/client/test.php
scripts/testing/test1.php
simplesaml
simplesamlphp-*
/.phpactor.json
/docs/.bundle/

scripts/client/nodeclient/node_modules/
scripts/client/nodeclient/package-lock.json

