FILESENDER_VERSION=3.3              # Options: Tagged release (e.g. 3.3), branch, localdev
FILESENDER_BRANCH=development       # set FILESENDER_VERSION=branch to use this option
SSP_VERSION=2.4.4
FILESENDER_SITE_URL="http://localhost"
FILESENDER_ADMIN="root@localhost.localdomain"
FILESENDER_ADMIN_EMAIL="root@localhost.localdomain"
FILESENDER_EMAIL_REPLY_TO=""
FILESENDER_DB_TYPE="mysql"
FILESENDER_DB_HOST="filesender-db"
FILESENDER_DB_DATABASE="filesender"
FILESENDER_DB_USERNAME="root"
FILESENDER_DB_PASSWORD="filesender_db_admin_pass"
FILESENDER_DB_USERNAME_ADMIN="root"
FILESENDER_DB_PASSWORD_ADMIN="filesender_db_admin_pass"
FILESENDER_AUTH_SP_SAML_SIMPLESAMLPHP_URL="http://localhost/simplesaml/"
FILESENDER_DEFAULT_TIMEZONE="Europe/Stockholm"

MYSQL_ROOT_PASSWORD=${FILESENDER_MYSQL_ROOT_PASSWORD}
MYSQL_DATABASE=${FILESENDER_MYSQL_DATABASE}
MYSQL_USER=${FILESENDER_MYSQL_USER}
MYSQL_PASSWORD=
MYSQL_HOST=${FILESENDER_MYSQL_HOST}
MYSQL_PORT=${FILESENDER_MYSQL_PORT}
