FILESENDER_VERSION=3.3
SSP_VERSION=2.4.4
FILESENDER_SITE_URL="http://localhost"
FILESENDER_ADMIN="root@localhost.localdomain"
FILESENDER_ADMIN_EMAIL="root@localhost.localdomain"
FILESENDER_EMAIL_REPLY_TO=""
FILESENDER_DB_TYPE="mysql"
FILESENDER_DB_HOST="filesender-db"
FILESENDER_DB_DATABASE="filesender"
FILESENDER_DB_USERNAME="root"
FILESENDER_DB_PASSWORD="filesender_db_admin_pass"
FILESENDER_DB_USERNAME_ADMIN="root"
FILESENDER_DB_PASSWORD_ADMIN="filesender_db_admin_pass"
FILESENDER_AUTH_SP_SAML_SIMPLESAMLPHP_URL="http://localhost/simplesaml/"
FILESENDER_DEFAULT_TIMEZONE="Europe/Stockholm"
