FILESENDER_VERSION=3.3              # Options: Tagged release (e.g. 3.3), branch, localdev
FILESENDER_BRANCH=development       # set FILESENDER_VERSION=branch to use this option
SSP_VERSION=2.4.4
FILESENDER_SITE_URL="http://localhost"
FILESENDER_ADMIN="root@localhost.localdomain"
FILESENDER_ADMIN_EMAIL="root@localhost.localdomain"
FILESENDER_EMAIL_REPLY_TO=""
FILESENDER_DB_TYPE="mysql"
FILESENDER_DB_HOST="filesender-db"
FILESENDER_DB_PORT=3306
FILESENDER_DB_DATABASE="filesender"
FILESENDER_DB_USERNAME="root"
FILESENDER_DB_PASSWORD="filesender_db_admin_pass"
FILESENDER_DB_USERNAME_ADMIN="root"
FILESENDER_DB_PASSWORD_ADMIN="filesender_db_admin_pass"
FILESENDER_AUTH_SP_SAML_SIMPLESAMLPHP_URL="http://localhost/simplesaml/"
FILESENDER_DEFAULT_TIMEZONE="Europe/Stockholm"

MARIADB_ROOT_PASSWORD=${FILESENDER_DB_PASSWORD_ADMIN}
MARIADB_DATABASE=${FILESENDER_DB_DATABASE}
MARIADB_USER=${FILESENDER_DB_USERNAME}
MARIADB_PASSWORD=
MARIADB_HOST=${FILESENDER_DB_HOST}
MARIADB_PORT=${FILESENDER_DB_PORT}
