.fs-button,
.bootbox-accept,
.btn-secondary {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border: 0;
  border-radius: var(--fs-spacing-4x);
  cursor: pointer;
  height: var(--fs-spacing-6x);
  padding: 0 var(--fs-spacing-2x);
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  color: var(--fs-button-color);
  background: var(--fs-button-background);
  white-space: normal;
}

.fs-button * {
  pointer-events: none;
}

.fs-button:hover,
.bootbox-accept:hover,
.btn-secondary:hover {
  color: var(--fs-button-hover-color);
  background: var(--fs-button-hover-background);
}

.fs-button:active,
.bootbox-accept:active,
btn-secondary:active {
  color: var(--fs-button-active-color);
  background: var(--fs-button-active-background);
}

.fs-button:disabled,
.fs-button[disabled] {
  opacity: .3;
  cursor: not-allowed;
  color: var(--fs-button-disabled-color) !important;
  background: var(--fs-button-disabled-background) !important;
}

.fs-button i {
  font-size: 2.4rem;
  margin-right: var(--fs-spacing-base);
  text-align: center;
}

.fs-button i.fi {
  margin-right: var(--fs-spacing-half);
}

.fs-button--icon-right i {
  margin-right: 0;
  margin-left: var(--fs-spacing-base);
}

.fs-button--circle {
  width: var(--fs-spacing-6x);
  height: var(--fs-spacing-6x);
}

.fs-button--small {
  font-size: 0.9rem;
  height: var(--fs-spacing-4x);
  padding: 0 var(--fs-spacing-base);
}

.fs-button--transparent {
  background: transparent !important;
  color: var(--fs-button-transparent-color);
}

.fs-button--transparent.fs-button--primary {
  color: var(--fs-button-primary-color) !important;
}

.fs-button--no-text i {
  margin-right: 0;
}

a.fs-button {
  text-decoration: none;
}

.fs-button--inverted {
  color: var(--fs-button-inverted-color);
  background: transparent;
  border: 2px solid var(--fs-button-inverted-border-color);
}