.fs-collapse--open {
  background: var(--fs-collapse-open-background);
  border-radius: var(--fs-spacing-half);
}

.fs-collapse__toggle {
  display: flex;
  width: 100%;
  border-radius: 0;
  justify-content: space-between;
}

.fs-collapse--open .fs-collapse__content {
  display: flex;
}

.fs-collapse__toggle {
  background: var(--fs-collapse-button-background);
  color: var(--fs-collapse-button-color) !important;
}

.fs-collapse__toggle i {
  color: var(--fs-collapse-icon-color);
}

.fs-collapse--open .fs-collapse__toggle i {
  transform: rotate(180deg);
}

.fs-collapse .row {
  width: 100%;
}

.fs-collapse__toggle:hover {
  background: var(--fs-collapse-button-hover-background);
}

.fs-collapse__toggle:active {
  background: var(--fs-collapse-button-active-background);
}

.fs-collapse__content {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--fs-spacing-4x);
}

.fs-collapse__content strong {
  display: inline-block;
  margin-bottom: var(--fs-spacing-2x);
}
