.fs-collapse--open {
  background: var(--fs-collapse-open-background);
  border-radius: var(--fs-spacing-half);
}

.fs-collapse--open .fs-collapse__open {
  display: none;
}

.fs-collapse--open .fs-collapse__close {
  display: flex;
  width: 100%;
  border-radius: 0;
  justify-content: space-between;
}

.fs-collapse--open .fs-collapse__content {
  display: flex;
}

.fs-collapse__open, .fs-collapse__close {
  background: var(--fs-collapse-button-background);
  color: var(--fs-collapse-button-color) !important;
}

.fs-collapse .row {
  width: 100%;
}

.fs-collapse__open:hover, .fs-collapse__close:hover {
  background: var(--fs-collapse-button-hover-background);
}

.fs-collapse__open:active, .fs-collapse__close:active {
  background: var(--fs-collapse-button-active-background);
}

.fs-collapse__close {
  display: none;
}

.fs-collapse__content {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--fs-spacing-4x);
}

.fs-collapse__content strong {
  display: inline-block;
  margin-bottom: var(--fs-spacing-2x);
}
