footer {
  padding: 0 var(--fs-spacing-8x);
  background: var(--fs-footer-background);
  color: var(--fs-footer-color);
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fs-footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--fs-spacing-2x) var(--fs-spacing-2x) var(--fs-spacing-base) var(--fs-spacing-2x);
}

footer .fs-footer-container small {
  display: block;
  flex: 1;
}

.fs-footer-container__brand {
  display: block;
  max-width: 100%;
  max-height: var(--fs-spacing-8x);
}

.fs-footer-container__brand--mobile {
  display: none;
}

footer .fs-version {
  background: var(--fs-footer-version-background);
  text-align: right;
  font-size: 0.6rem;
  padding: var(--fs-spacing-half) var(--fs-spacing-base);
}

@media (max-width: 576px) {
  .fs-footer-container {
    flex-direction: column;
  }

  .fs-footer-container__brand--desktop {
    display: none;
  }

  .fs-footer-container__brand--mobile {
    display: block;
    max-height: var(--fs-spacing-30x);
  }
}

@media (max-width: 1100px) {
  .fs-footer-container {
    flex-direction: column;
  }
}
