header {
  position: fixed;
  height: var(--fs-spacing-12x);
  width: 100%;
  padding: 0 var(--fs-spacing-8x);
  background: var(--fs-header-background);
  z-index: 1;
}

header .container, header nav {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav {
  width: 100%;
  margin: 0;
  padding: 0;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav a {
  display: inline-block;
  height: 100%;
  padding: var(--fs-spacing-base) var(--fs-spacing-2x);
  background: var(--fs-header-link-background);
}

header nav a h2 {
  margin-top: var(--fs-spacing-base) !important;
}

header nav a img + h2 {
  margin-left: calc(var(--fs-spacing-base) + var(--fs-spacing-half)) !important;
}

header nav ul li + li {
  margin-left: var(--fs-spacing-base);
}

header nav img {
  max-height: var(--fs-spacing-8x);
}

header nav .fs-link--active {
  color: var(--fs-header-link-active-color);
  background: var(--fs-header-link-active-background);
  font-style: italic;
}

header nav > .fs-link:hover {
  color: var(--fs-header-hover-color);
  background: var(--fs-header-hover-background);
}

header nav > .fs-link {
  font-size: 2rem;
}

header nav > .fs-link img + * {
  margin-left: var(--fs-spacing-base);
}

/* XS */
@media (max-width: 575px) {

  header {
    height: var(--fs-spacing-15x);
  }

  header nav {
    flex-direction: column;
  }

  header nav ul {
    margin: var(--fs-spacing-2x) 0;
  }
}

/* XS/SM */
@media (max-width: 767px) {

  header nav > a img {
    max-height: var(--fs-spacing-6x);
  }

  header nav > a span {
    font-size: 1.3rem;
  }

  header nav ul li .fs-link {
    padding: var(--fs-spacing-half) var(--fs-spacing-2x);
  }

  header nav ul li .fs-link span {
    display: none;
  }
}

/* MD */
@media (min-width: 768px) and (max-width: 991px) {

  header nav > a img {
    max-height: var(--fs-spacing-6x);
  }

  header nav > a span {
    font-size: 1.3rem;
  }

  header nav ul li .fs-link {
    padding: var(--fs-spacing-base) calc(var(--fs-spacing-base) + var(--fs-spacing-quarter));
  }

  header nav ul li .fs-link i + span {
    margin-left: var(--fs-spacing-half);
  }
}

