.fs-input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: var(--fs-spacing-3x);
  margin-bottom: var(--fs-spacing-3x);
}

.fs-input-group--center {
  align-items: center;
}

.fs-input-group--hide {
  display: none;
}

.fs-input-group label {
  width: var(--fs-spacing-19x);
  font-size: 1.4rem;
}

.fs-input-group div {
  flex: 1;
}

.fs-input-group div input {
  width: 100%;
}

.fs-input-group label + * {
  margin-top: var(--fs-spacing-base);
}

.fs-input-group--auto label,
.fs-input-group--auto input {
  width: auto;
}

.fs-input-group--auto input {
  width: auto;
  flex: none !important;
}

.fs-input-group--vertical {
  flex-direction: column;
}

.fs-input-group--vertical label {
  width: auto;
  margin-bottom: var(--fs-spacing-base);
}

.fs-input-group span.invalid {
  position: absolute;
  left: var(--fs-spacing-15x);
}

.fs-input-group input,
.fs-input-group textarea {
  flex: 1;
  border: 1px solid var(--fs-input-border-color);
  min-height: var(--fs-spacing-6x);
  background: var(--fs-input-background);
  border-radius: var(--fs-spacing-half);
}

.fs-input-group input:disabled,
.fs-input-group textarea:disabled {
  opacity: 0.7;
}

.fs-input-group input.invalid,
.fs-input-group textarea.invalid {
  border-color: var(--fs-input-invalid-border-color);
}

.fs-input-group input:focus,
.fs-input-group textarea:focus,
.fs-input-group input:focus-visible,
.fs-input-group textarea:focus-visible {
  border: 1px solid var(--fs-input-focus-border-color);
  outline: none;
}

.fs-input-group input {
  padding: 0 var(--fs-spacing-3x);
}

.fs-input-group textarea {
  padding: var(--fs-spacing-base) var(--fs-spacing-3x);
}

.fs-input-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--fs-input-background);
  border: 1px solid var(--fs-input-border-color);
  border-radius: var(--fs-spacing-4x);
  font-weight: 700;
  margin-top: var(--fs-spacing-2x);
}

.fs-input-inline input {
  flex: 1;
  min-height: var(--fs-spacing-6x);
  padding: 0 var(--fs-spacing-3x);
  background: transparent;
  border: none;
}

.fs-input-inline button {
  font-size: 0.9rem;
}
