.fs-link {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: var(--fs-spacing-3x);
    color: var(--fs-link-color);
    background: transparent;
    border: none;
    cursor: pointer;
}

.fs-link--primary {
    color: var(--fs-link-primary-color);
}

.fs-link:hover {
    color: var(--fs-link-hover-color) !important;
    background: var(--fs-link-hover-background) !important;
}

.fs-link:hover i {
    color: var(--fs-link-icon-color) !important;
}

.fs-link--no-hover:hover {
    color: var(--fs-text-color) !important;
    background: transparent !important;
}

.fs-link--no-hover.fs-link--primary:hover {
    color: var(--fs-accent) !important;
}

.fs-link:focus,
.fs-link:focus-visible,
a:focus,
a-visible {
    border: 0 !important;
    outline: none;
}

.fs-link i {
    color: var(--fs-link-icon-color);
    font-size: 2.4rem;
    text-align: center;
}

.fs-link i + span {
    margin-left: var(--fs-spacing-base);
}

.fs-link--no-hover:hover {
    background: transparent !important;
}

.fs-link:active,
.fs-link:visited,
.fs-link:focus,
.fs-link:focus-visible {
    background: transparent;
    border: none;
}

.fs-link--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--fs-spacing-5x);
    width: var(--fs-spacing-5x);
    border-radius: 100%;
    color: var(--fs-accent) !important;
    background: var(--fs-hightlight-bg) !important;
}

.fs-link--disabled {
    cursor: not-allowed;
    opacity: 0.7;
    text-decoration: none;
}

.fs-link--primary,
.fs-link--primary i,
.fs-link--primary.fs-link--no-hover:hover,
.fs-link--primary.fs-link--no-hover:hover i {
    color: var(--fs-accent) !important;
}

.fs-link--primary i + span {
    margin-left: 0;
}
