.fs-radio-group input[type="radio"] {
  display: none;
}

.fs-radio-group input[type="radio"]:checked ~ .fs-radio .fs-radio__option .fs-radio__circle {
  background: transparent;
  border-color: var(--fs-radio-group-checked-border-color);
}

.fs-radio-group input[type="radio"]:checked ~ .fs-radio .fs-radio__option .fs-radio__circle:after {
  display: block;
}

.fs-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--fs-spacing-base) 0;
  border-radius: var(--fs-spacing-base);
  cursor: pointer;
  transition: all 0.25s ease;
}

.fs-radio:hover .fs-radio__circle {
  border-color: var(--fs-radio-hover-border-colo);
  background: var(--fs-radio-hover-background);
}

.fs-radio__option {
  display: flex;
  align-items: center;
  min-width: var(--fs-spacing-20x);
}

.fs-radio__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 22px;
  width: 22px;
  background: var(--fs-radio-circle-background);
  border: 1px solid var(--fs-radio-circle-border-color);
  margin-right: 15px;
  border-radius: 50%;
  transition: all 0.25s ease;
}

.fs-radio__circle:after {
  display: none;
  content: '';
  height: 12px;
  width: 12px;
  border-radius: var(--fs-spacing-2x);
  background: var(--fs-radio-checked-background);
}

.fs-radio__info {
  font-weight: 300;
  font-size: 1.2rem;
}
