.fs-select {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--fs-spacing-3x);
  margin-bottom: var(--fs-spacing-3x);
}

.fs-select--small label, .fs-select--small select {
  font-size: 12px !important;
}

.fs-select--small select {
  background-position: calc(100% - 20px) calc(1em + 7px), calc(100% - 15px) calc(1em + 7px) !important;
}

.fs-select select {
  border: 1px solid var(--fs-gray-300);
  min-height: var(--fs-spacing-6x);
  padding: 0 var(--fs-spacing-5x) 0 var(--fs-spacing-3x);
  margin-left: var(--fs-spacing-3x);
  border-radius: var(--fs-spacing-base);
  -moz-appearance: none;
  -webkit-appearance: none;
  /* Firefox */
  appearance: none;
  /* Safari and Chrome */
  background-image: linear-gradient(45deg, transparent 50%, var(--fs-gray-300) 50%), linear-gradient(135deg, var(--fs-gray-300) 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.fs-select select:focus, .fs-select select:focus-visible {
  border: 1px solid var(--fs-accent);
  outline: none;
}
