.fs-switch {
  display: flex;
  flex-direction: row;
  margin-top: var(--fs-spacing-base);
  margin-bottom: var(--fs-spacing-2x);
}

.fs-switch--hide {
  display: none;
}

.fs-switch--small label {
  font-size: 0.9rem !important;
  padding-left: var(--fs-spacing-9x) !important;
}

.fs-switch label {
  align-items: center;
  color: var(--fs-switch-label-color);
  cursor: pointer;
  display: inline-flex;
  margin-bottom: 0;
  position: relative;
  padding-left: var(--fs-spacing-11x);
}

.fs-switch label:before {
  background: #fff;
  border: 1px solid var(--fs-switch-border-color);
  border-radius: 100em;
  content: "";
  height: 34px;
  position: absolute;
  width: 56px;
  left: 0;
}

.fs-switch label:after {
  background-color: var(--fs-light);
  border-radius: 50%;
  border: 1px solid var(--fs-switch-border-color);
  content: "";
  height: 28px;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 28px;
  left: 4px;
  right: auto;
}

.fs-switch input {
  appearance: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  margin-left: var(--fs-spacing-base);
}

.fs-switch input + label:after {
  left: 4px;
}

.fs-switch input:checked + label:before {
  background: var(--fs-switch-checked-background);
}

.fs-switch input:checked + label:after {
  left: 24px;
}

.fs-switch input:focus-visible + label:before {
  border-color: var(--fs-switch-focus-border-color);
  box-shadow: 0 0 0 2px var(--fs-switch-focus-border-color);
  outline: none;
}

.fs-switch input:hover:not([disabled]):checked + label:before {
  background-color: var(--fs-switch-hover-checked-background);
}

.fs-switch input:hover:not([disabled]):not(checked) + label:before {
  background-color: var(--fs-switch-hover-background);
}

.fs-switch input:disabled,
.fs-switch input:disabled + label {
  opacity: 0.7;
}

.fs-switch input:disabled {

}
