.fs-table {
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--fs-table-background);
}

.fs-table th {
  background: var(--fs-table-th-background);
}

.fs-table th,
.fs-table td {
  vertical-align: top;
}

.fs-table th a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: underline;
}

.fs-table th a i {
  margin-left: var(--fs-spacing-half);
}

.fs-table--text-middle th,
.fs-table--text-middle td {
  vertical-align: middle;
}

.fs-table.fs-table--thin th,
.fs-table.fs-table--thin td {
  padding: calc(var(--fs-spacing-base) + 2px);
}

.fs-table.fs-table--striped tbody tr:nth-child(even) {
  background-color: var(--fs-table-striped-even-background);
}

.fs-table.fs-table--striped tbody tr:nth-child(odd) {
  background-color: var(--fs-table-striped-odd-background);
}

.fs-table.fs-table--selectable tbody td:not(.actions) {
  cursor: pointer;
}

.fs-table.fs-table--selectable tbody tr:hover {
  background-color: var(--fs-table-selectable-hover-background) !important;
}

.fs-table__check-action {
  width: auto !important;
  padding: 0 !important;
  margin-right: var(--fs-spacing-2x);
}

.fs-table__name {
  min-width: var(--fs-spacing-20x);
}

.fs-table__actions {
  white-space: nowrap;
}

.fs-table__actions .actionsblock {
  display: inline-flex;
  gap: var(--fs-spacing-2x);
  flex-wrap: nowrap;
  align-items: center;
}

.fs-table__actions .fs-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--fs-spacing-half);
  font-size: 1.6rem;
  height: var(--fs-spacing-4x);
  padding: 0;
  background: transparent !important;
  color: var(--fs-table-actions-color) !important;
  cursor: pointer !important;
  font-weight: bold;
  white-space: nowrap;
}

.fs-table__actions .fs-button + .fs-button {
  margin-left: var(--fs-spacing-2x);
}

.fs-table__actions .actionsblock .fs-button + .fs-button {
  margin-left: 0;
}

.fs-table__actions .fs-button i {
  font-size: var(--fs-icon-size);
}

.fs-table__actions .fs-button,
.fs-table__actions .fs-button:hover,
.fs-table__actions .fs-button:active {
  background: transparent !important;
  color: var(--fs-table-button-hover-color) !important;
}


.fs-table__icon {
  margin-left: var(--fs-spacing-half);
  font-size: var(--fs-icon-size);
  vertical-align: middle;
}

.fs-table__empty td {
  text-align: center;
  color: var(--fs-table-empty-color);
}

table.files .downloadprogress {
    margin-left: 1em;
}


/* XS,SM,MD,LG */
@media (max-width: 1199px) {
  .fs-table {

  }

  .fs-table.fs-table--responsive thead {
    display: none;
  }

  .fs-table.fs-table--responsive tr {
    padding: 5px;
    display: block;
    margin: .5rem 0 1rem;
    background-color: var(--fs-table-responsive-tr-background);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  }

  .fs-table.fs-table--responsive td {
    display: block;
    min-width: 0;
    text-align: right;
    overflow-wrap: anywhere;
    border-bottom: 1px dotted var(--fs-table-responsive-td-border-color);
  }

  .fs-table.fs-table--responsive td:last-child {
    border-bottom: 0;
  }

  .fs-table.fs-table--responsive td .fs-button {
    margin: var(--fs-spacing-half) 0 var(--fs-spacing-half) var(--fs-spacing-base);
  }

  .fs-table.fs-table--responsive .fs-table__actions .fs-button {
    margin: var(--fs-spacing-half) 0;
  }

  .fs-table.fs-table--responsive .fs-table__actions .fs-button + .fs-button {
    margin-left: var(--fs-spacing-2x);
  }

  .fs-table.fs-table--responsive .fs-table__actions .actionsblock .fs-button + .fs-button {
    margin-left: 0;
  }

  .fs-table.fs-table--responsive tr.tpl {
    display: none;
  }

  .fs-table.fs-table--responsive tbody th,
  .fs-table.fs-table--responsive > tr th {
    float: left;
    width: auto;
    margin-right: var(--fs-spacing-2x);
    text-align: left;
    background: transparent;
  }

  .fs-table.fs-table--responsive .fs-table__empty td {
    text-align: center;
  }

  .fs-table.fs-table--responsive td:before {
    content: attr(data-label);
    float: left;
    margin-right: var(--fs-spacing-2x);
    font-weight: bold;
  }
}

@media (max-width: 575px) {

  .fs-table.fs-table--responsive .fs-table__actions .fs-button span {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
