html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--fs-bg-color);
  color: var(--fs-text-color);
}

main {
  position: relative;
  flex: 1 0 auto;
  padding: var(--fs-spacing-17x) var(--fs-spacing-5x) var(--fs-spacing-5x) var(--fs-spacing-5x);
}

main .core {
  background: var(--fs-white);
  border: 1px solid var(--fs-gray-200);
  border-radius: var(--fs-spacing-base);
}

hr {
  margin-top: var(--fs-spacing-3x) !important;
  margin-bottom: var(--fs-spacing-3x) !important;
  border-top: 1px solid var(--fs-gray-200);
  opacity: 1;
}

#notifications {
  position: fixed;
  left: auto;
  right: 20px;
  top: 110px;
  width: 30%;
  z-index: 10000;
  transform: translate(0, 0);
}

.warning {
  background: transparent;
}

.fs-theme {
  position: fixed;
  right: 0;
  bottom: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--fs-light);
  background: var(--fs-btn-hover);
  border-top-left-radius: 48px;
  border-bottom-left-radius: 48px;
  align-items: center;
  padding: 10px 10px 10px 20px;
  font-size: 0.8rem;
}

.fs-theme ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 0;
  padding: 0;
}

.fs-theme ul li {
  margin: 4px 0;
}

.fs-theme ul li a {
  color: var(--fs-light) !important;
  padding: 4px 10px;
}

/* XS */
@media (max-width: 575px) {

  main {
    padding: var(--fs-spacing-19x) var(--fs-spacing-5x) var(--fs-spacing-5x) var(--fs-spacing-5x);
  }
}
